body{
    background-color: white;
  
}
.main{
    height: 300px;
    width: 300px;
    display: flex;

  
}
#a{
    font-size: 100px;
    background-color: blue;
    margin-bottom: 200px;
    margin-left: 150px;
}

@media only screen and (max-width:768px) {
    .main{
        flex-direction: column;
    }
    
}
.main img{
    height: 250px;
    width: 250px;
    justify-content: space-between;
}
.a,.b,.c{
    width: 100%;
}